@import"../../style/var";
@import"../../style/flexBox";
@import"../../style/responsive";

.Signup {
    @include for-size(tablet-ls) {
        padding: .6rem;
        width: 100%;
        height: 100%;
    }
    @include flexBox(column, center, center);
    width: 60%;
    height: 80%;
    background-color: $colorMain;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    form {
        @include for-size(tablet-ls) {
            width: 100%;
            padding: .6rem;
        }
        width: 50%;
        input{
            width: 100%;
            padding: .5rem 1rem;
            margin: .3rem;
        }

        button {
            @include for-size(tablet-ls) { 
                padding: .6rem 2rem; 
            }
            padding: .7rem 2rem;
            margin-top: .3rem;
            border: none;
            outline: none; 
            background: $colorMist;
            color: $colorMain;
            cursor: pointer;

            &:hover {
                background: $colorPrimary;
                color: $colorMist;
            }
        }
    }

    .Signup-Nav {
        padding: 1rem;
        color: $colorMist;

        a {
            color: $colorMist;
            text-decoration: none;

            &:hover {
                color: $colorDark;
                text-decoration: underline;
            }
        }
    }
}