@import"../../../style/var";
@import"../../../style/flexBox";
@import"../../../style/responsive";

.Menu-Button {
    width: 100vw;
    padding: .5rem 1rem;
    color: $colorMist;
    background-color: $colorMain;
    outline: none;
    border: none;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 200;

    &:hover {
        color: $colorMain;
        background-color: $colorMist;
        border: 1px solid;
    }
}

.Pizza {
    @include flexBox(row, center, center);
    flex-wrap: wrap;
    padding: 1rem; 
    padding-bottom: 8rem; 
    position: relative;

    .Pizza-Box {
        @include for-size(tablet-ls) {
            width: 150px;
            height: 320px;
        }
        width: 200px;
        height: 300px;
        margin: .3rem;
        padding: .5rem;
        box-shadow: 0px 0px 2px 4px gray;
        border-radius: .5rem;

        &:hover {
            transform: scale(1.04);
            background-color: rgba($color: #000000, $alpha: .1); 
            cursor: pointer;    
        }

        .Img-Cont {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .Det-Cont {
            width: 100%;
            height: 40%;

            span {
                display: block;
                padding: .3rem;

                i {
                    color: $colorMain;
                    font-weight: 900;
                    font-size: 1.2rem;
                }
            }

            button {
                padding: .4rem;
                outline: none;
                border: none;
                color: $colorMist;
                background-color: $colorMain;
                cursor: pointer;    

                &:hover {
                    background-color: $colorMist;
                    color: $colorMain;
                    border: 1px solid;
                }
            }
        }
    }
}   