@import"../../style/var";
@import"../../style/responsive";

.SideNav {
    width: 100%;
    position: relative;
    padding: 2rem 3rem;

    header {
        @include for-size(tablet-ls) { 
            font-size: 2.5rem;
        }
        font-style: italic;
        color: $colorMist;
        font-size: 5vw;
        font-weight: 900;
        padding: 2rem;

        i {
            color: $colorMain;
            font-weight: 900;
        }
    }

    a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: $colorMist;
        font-size: $fontSize-md;

        &:hover {
            color: $colorMain
        }
    }

    .Close {
        position: absolute;
        top: 15%;
        left: 2%;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        color: $colorMist;
        font-size: 2rem;

        &:hover {
            color: $colorMain;
        }
    }

    .active {
        color: $colorMain;
    }
}